<div class="container mt-4">
  <div class="form-login">

    <h2> You are talking to<i> <%= @chatroom.plant.user.nickname %></i></h2> <%= @chatroom.name %>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
      <%= f.submit :send ,class: "btn btn-primary" %>
    <% end %>

    <% if current_user != @chatroom.user && @chatroom.plant.status == "available" %>
      <div id="show-page-for-chatroom">
        <%= link_to "Promise", chatroom_transitions_path(@chatroom), method: :post, class: "btn btn-primary" %>
      </div>
      <% elsif @chatroom.plant.status == "promised" %>
        <i><h3><%= flash.alert = "This Plant is promised to you!" %></h3></i>
    <% end %>
    
  </div>
</div>
