<div class="container mt-4">
  <h1>Find plants nearby!</h1>
  <div id="map"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container mt-4">
  <div class="index-grid">
    <div class="index-filter-plant">
      <div class="index-filter-by">
        <h3>Filter by</h3>
        <ul>
          <li> <%= link_to "All", plants_path %></li>
          <% @types.each do |type| %>
            <li id="filter"> <%= link_to type.name, fetch_plants_path(type_id: type.id), remote: true %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container">
      <div id="index-cards-plant" class="index-cards-plant">
        <%= render partial: 'plant_list', locals: { plants: @plants }  %>
      </div>
    </div>
  </div>


</div>

