

  <div class="card-plant-show container mt-4">

    <!-- The grid: four columns -->

  	<div class="row p-2">

	    <div class="col-8">
    	 	<div class="row m-2">
    	 		<div class="col p-0">
      	 	  <div class="block-image">
        	 	 	<% if @plant.photos.attached? %>
        	 	 		<%= cl_image_tag @plant.photos.first.key, id: "expandedImg" %>
        	 	 	<% else %>
                 <img src="https://images.unsplash.com/photo-1551893665-f843f600794e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" id="expandedImg" style="width:100%">
        	 	 	<% end %>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between mr-2 ">
        	<% if @plant.photos.attached? %>
        	 <% @plant.photos.each do |photo| %>
              <%= cl_image_tag photo.key, class: "image_plant m-2", height: 200 %>
      	   <% end %>

          <% end %>
      	</div>
      </div>


    	<div class="card-plant-show-info d-flex flex-column col-4 justify-content-between pt-2">
        <div>
          <h2><%= @plant.name %> </h2>
          <i><h4 class="mt-4"><%= @plant.type.name %></h4></i>
          <p><%= @plant.description %></p>
          <% if current_user != @plant.user %>
          <% if @chatroom %>
            <%= link_to "Get in touch", chatroom_path(@chatroom), class: "mt-4 btn btn-primary" %>
          <% else %>
            <%= link_to "Get in touch", plant_chatrooms_path(@plant), method: :post, class: "mt-4  btn btn-primary"  %>
          <% end %>
        <% end %>
        </div>
    	</div>
    </div>
  </div>
