<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" style="color: white;" id="profilebutton" data-toggle="modal" data-target="#exampleModal<%= plant.id %>">
 <i class="fas fa-pencil-alt"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal<%= plant.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update your plant</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <%= simple_form_for plant do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.association :type %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>