<div class="container mt-2">
<h2>My plants</h2>
  <div class="row d-flex">

    <% @plants.each do |plant| %>
      <% if current_user.id === plant.user_id %>
        <div class="col-12 col-md-6">
          <div class="card-product">
            <% if plant.photos.attached? %>
                <%= cl_image_tag plant.photos.first.key %>
            <% else %>
              <%= image_tag "plant.jpg" %>
            <% end %>
            <div>

            <div class="profile_badge">
              <% if plant.status == "available" %>
                <span class="badge badge-pill badge-success card-product-badge">Available</span>
              <% elsif plant.status == "promised"%>
                <span class="badge badge-pill badge-warning card-product-badge">Promised</span>
              <% else %>
                 <span class="badge badge-pill badge-secondary card-product-badge">Traded</span>
              <% end %>
            </div>

            <div class="profile-info">
               <h2> <%= link_to plant.name , plant_path(plant), style:"margin-right:10px;"%></h2>
            </div>
            <div class="profile-actions">
              <% if plant.status == "promised"%>
                    <%= link_to "" , status_update_path(plant), class:"fas fa-check mt-4", style:"margin-right:10px", method: :patch, data: { confirm: 'Did you trade your plant?' }, title: 'Mark this plant as tradded.'%>
               <% end %>

              <%#= link_to "" , edit_plant_path(plant), class:"fas fa-pencil-alt", style:"margin-right:10px;"%>
              <%= render "users_info/modalEdit", plant: plant %>

              <%= link_to "" , profile_path(plant), class:"far fa-trash-alt", method: :delete, data: { confirm: 'Are you sure?' }%>
            </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>
</div>
