
<div class="container  mt-4">
  <h2>My info</h2>
  <% if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, class: "profile-img", alt: "avatar-large"  %>
  <% else %>
    <%= image_tag "avatar.jpg", class: "profile-img", alt: "avatar-large" %>
  <% end %>
    <div>
      <h2 class="mt-2"><%= current_user.first_name %> <%= current_user.last_name %></h2>

      <p class="mt-n2">#<%= current_user.nickname %></p>
      <p><%= current_user.address %></p>
      <p><%= current_user.city %></p>
    </div>
  <%= link_to " Change your info" , edit_user_registration_path(current_user), class:"fas fa-pencil-alt" %>

</div>
